@import 'variables';

.footer {
    display: flex;
    justify-content: space-between;
    border-top: 2px solid $baby-blue;
    padding: 10px;
}

.header {
    border-bottom: 5px solid $baby-blue;
    background-color: $light-blue;
    margin-bottom: 60px;
}

.footer {
    background-color: $light-blue;
    clear: both;
    position: relative;
    height: 100px;
    margin-top: 60px;

    .social {
        font-size: 2rem;
    }
}

.header,
.footer {
    flex: 0 0 auto;
}

.header,
.site-header {
    display: flex;
    justify-content: space-between;
}

a {
    text-decoration: none;
}

.nav {
    a {
        color: $light-blue;
    }

    li {
        background-color: $blue;
    }
    
    li:hover {
        background-color: $baby-blue;
    }

    ul {
        margin: 0;
        padding: 0;
    }
}

.nav li:hover {
    a {
        color: $blue;
    }
}

.hidden {
    display: none !important;
}
