@import 'variables';

.footer {
    display: flex;
    justify-content: space-between;
    border-top: 1px solid $blue;
    padding: 10px;
}

.header {
    margin: 10px;
}

.footer .social {
    font-size: 2rem;
}

.header,
.footer {
    flex: 0 0 auto;
}

.header,
.site-header {
    display: flex;
    justify-content: space-between;
}

a {
    text-decoration: none;
}

.nav {
    a {
        color: $light-blue;
    }

    li {
        background-color: $blue;
    }
    
    li:hover {
        background-color: $baby-blue;
    }
    
}

.hidden {
    display: none !important;
}
