@import '../../shared/fontawesome/scss/fontawesome';
$fa-font-path: '../../shared/fontawesome/webfonts';
@import '../../shared/fontawesome/scss/brands';
@import '../../shared/fontawesome/scss/solid';
@import '../../shared/fontawesome/scss/regular';
@import '../../node_modules/normalize.css/normalize';
@import 'dark-variables';
@import 'blockquotes';
@import 'code';
@import 'technologies';
@import 'typography';
@import 'responsivity';
@import 'footerheadernav';
@import 'technology';
@import url('https://fonts.googleapis.com/css2?family=Nunito+Sans&display=swap');

* {
    box-sizing: border-box;
    border: 0 none;
    margin: 0;
    padding: 0;
}

a {
    text-decoration: none;
}

.header {
    p {
        color: $medium-gray;
    }

    img {
        filter: grayscale(100%);
    }
}

html {
    height: 100%;
    font-size: 100%;
}

body {
    background-color: $dark-gray;
    display: flex;
    flex-direction: column;
}

h1 {
    color: $light-gray;
}

.main {
    flex: 1 0 auto;

    h1 {
        margin-left: 3%;
    }
    
}

img {
    max-width: 100%;
}

.pictureofme {
    margin-top: 5%;
    max-width: 100%;
    max-height: 90%;
}

.box {
    border: solid rgb(10, 10, 10);
    max-width: 50%;
    max-height: 80%;
    margin: 3%;
    padding: 3%;

    p {
        color: $brown;
    }
}

.insidediv {
    max-width: 100%;
    max-height: 10%;
}

.social {
    display: flex;
    
    a {
        text-decoration: none;
        padding: 2px;
    }
}

.pic {
    height: 30%;
    width: 40%;
    margin-bottom: 10%;
}

.nav {
    a {
        color: $brown;
    }

    li {
        background-color: $medium-gray;
    }

    li:hover {
        background-color: $light-gray;
    }
}

.navcontainer,
.content,
.box,
.box2,
.box3,
.box4 {
    border: 1px solid $medium-gray;
    background-color: $brown;

    p {
        color: $latte-color;
    }

    a {
        color: $latte-color;
    }

    h2 {
        color: $latte-color;
    }
    
}

.box1 {
    color: $latte-color;
}

pre {
    background-color: $light-gray;
    border: 1px solid $brown;
}

.footer a,
p {
    color: $light-gray;
}

