@import 'variables';

.courses {
    display: grid;
    text-align: center;
    margin: 10px;
    grid-template-columns: repeat(3, 1fr);
    width: 80%;
    margin-left: auto;
    margin-right: auto;
}

@mixin boxescss {
    margin: 10px;
    background-color: $light-blue;
    border: 1px solid $blue;
    padding: 20px;
    font-size: 30px;
    text-align: left;
    
    a {
        color: $blue;
    }
}

.box1 {
    font-size: 70px;
    text-align: center;
    grid-column-start: 1;
    grid-column-end: 4;
    margin: 10px;
    color: $blue;
}

.box2 {
    @include boxescss;
    height: 100px;
}

.box3 {
    @include boxescss;
    height: 210px;
    grid-column-start: 2;
    grid-column-end: 4;
}

.box4 {
    @include boxescss;
    height: 100px;
    grid-column-start: 1;
    grid-column-end: 4;
}

.box2:hover,
.box3:hover,
.box4:hover {
    transition: 0.6s;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

