@import 'variables';

.containertec {
    display: flex;
    margin-bottom: 100px;
}

.navcontainer {
    width: 20%;
    height: 20%;
    background-color: $light-blue;
    border: 1px solid $blue;
    padding: 10px;
    margin: 10px;
    font-size: 33px;

    a {
        text-decoration: none;
        margin: 0 auto;
        display: block;
        text-align: center;
        color: $blue;
    }
    
    ul {
        list-style-type: none;
    }
}

.content {
    background-color: $light-blue;
    border: 1px solid $blue;
    padding: 10px;
    margin: 10px;
    
    h2 {
        color: $blue;
    }

    p {
        color: $blue;
    }
}
