* {
    box-sizing: border-box;
    border: 0 none;
    margin: 0;
    padding: 0;
}

.hidden {
    display: none !important;
}

html, body {
    height: 100%;
}


body {
    display: flex;
    flex-direction: column;
}

.main {
    flex: 1 0 auto;
}

.header, .footer {
    flex: 0 0 auto;
}


.header, .site-header {
    display: flex;
    justify-content: space-between;
}

.title, .logo {
    padding: 3em 3em 3em 0;
}

@media (max-width: 767px) {
    .title, .logo {
        padding: 1em 1em 1em 0;
    }
    .title {
        min-width: 50%;
    }
    .logo {
        max-width: 30%;
    }
}

.title * {
    color: #111;
}

.title p {
    font-style: italic;
}


.footer {
    display: flex;
    justify-content: space-between;
    border-top: 1px solid #222;
}

.footer a {
    color: #222;
}

body {
    color: #444;
}

h1, h2, h3, h4, h5, h6 {
    margin-bottom: 0.6em;
    font-weight: bold;
}

img {
    max-width: 100%;
}




